<body class="backgroundimage">
<div class = "homecontainer">
  <h1 class="mainheader">TEMPERMETRO</h1>
  <h2>The app to vent your metro frustrations is finally here!</h2>

  <div class = "homebutton"><%= link_to "View Complaints!", posts_path %>
  </div>

  <h3> or sign in to start venting </h3>

</div>
</body>
