<body>
    <%= video_tag "metro.mp4", autoplay: :autoplay, loop: :loop %>
<div class = "homecontainer">
  <h2>Vent your DC Metro frustrations! </h2>

  <div class = "homebutton"><%= link_to "View Complaints!", posts_path %>
  </div>

  <h3> or sign in to start venting </h3>

</div>
</body>
