
<h1> SHARE YOUR RAGE! </h1>
<div class="container">
<!-- new post form page-->
  <!-- mms: recommend using underscores to separate words (post_form)
    Rails usually just calls this one "form", then post isn't duplicated
    `render 'posts/form'` -->
  <%= render 'posts/postform' %>
</div>
