<div class="header">
  <p class="logo"><%= link_to "TEMPERMETRO", root_path %></p>
  <% if @current_user %>
  <p class="signin"> <%= link_to "Sign Out", session_path, method: :delete%>
  <span class = "no_welcome">Welcome <%=@current_user.username%> </span> </p>
  <% else %>
  <p class="signin"><%= link_to "Sign In", new_user_path %></p>
  <% end %>
</div>
